RewriteEngine On

RewriteRule club$ index.php?section=club [L]
RewriteRule home$ index.php?section=index [L]
RewriteRule log$ index.php?section=log [L]
RewriteRule registration$ index.php?section=reg [L]
RewriteRule soon$ index.php?section=avenir [L]

